[toolchain]
channel = "stable"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
axiom_id = "6XEba5gbdSAf9NCHC9Bt3kaaHgfVTF5HgWK8tg7Jpcsz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""